@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>
<br />
<div class="row">
    <div class="col-md-8">
        <p>
            It is an <b>Expense Tracker App</b> is complete app to track your all the expenses bared by your pocket or bared by you & manage your personal finance.
            So that you can trace where your money goes as well as from where money comes in, you can limit & plan accordingly.
        </p>
        <p>
            It also features like Income/Expense, keep tracking of your incoming & outgoing flows, Bills maintain your recurring expenses & keep reminding you as your helping hand.
        </p>
    </div>
</div>